#map {
    background-color: #2b19d1;
}
.leaflet-marker-icon {
    filter: hue-rotate(120deg);
}
.leaflet-popup-content {
    font-size: 16px;
    color: #d11313;
}
#map {
    border: 1px solid #dd1919;
}